/* Fonts */

/* H1 font */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

/* Button font */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

/* General styling */

/* Background Image*/

body {
    background-color: green;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

/* main {
    display: flex;
    justify-content: center;
} */
h1 {
    font-family: "Rubik Glitch";
    font-weight: 400;
    color: white;
    margin-top: 30px;
}

/* Logo image */

#logoimage {
    width: 100px;
}

/* Menu screen */

button{
    /* margin: 50px; */
    font-family: "Playwrite DE Grund";
    font-weight: 600;
}

#menu-screen button {
    border-radius: 25px;
    height: 100px;
    /*width: 200px;*/

}

#game-screen button {
    font-size: 15px;
    border-radius: 25px;
    width: 120px;
}

/* Game screen */

.hackerbox {
    margin-bottom: 5px;
}

/* JavaScript */

.hide {
    display: none;
}
