/* Fonts */

/* H1 font */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

/* Button font */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

/* General styling */

/* Background Image*/

body {
    background-color: green;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

/* Header information */

h1 {
    font-family: "Rubik Glitch";
    font-weight: 400;
    color: white;
    margin-top: 30px;
    text-shadow: 2px 2px 5px #FF0099;
}

/* Logo image */

#logoimage {
    width: 100px;
}

/* Menu screen */

button {
    border: #ffff;
    font-family: "Playwrite DE Grund";
    font-weight: 800;
}

button:hover {
    color: #ffff;
    background-color: #FF0099;
    box-shadow: 
        inset 0 0 15px #FF0099,  /* inner glow on hover */
        0 0 10px #eeacd3,        /* outer glow on hover */
        0 0 20px #eeacd3, 
        0 0 30px #FF0099, 
        0 0 40px #FF0099;
}

#menu-screen button {
    font-size: 20px;
    border-radius: 25px;
    height: 100px;
   
}

#game-screen button {
    font-size: 15px;
    border-radius: 25px;
    width: 120px;
}

#instructions-screen button {
    font-size: 20px;
    border-radius: 25px;
    height: 100px;
}

#score-screen button {
    font-size: 20px;
    border-radius: 25px;
    height: 100px;
}

/* Game screen */

.hackerbox {
    margin-bottom: 5px;
}

/* Utility functions */

.hide {
    display: none;
}



@media only screen and (min-width: 768px) {
    .hackerbox {
        max-width: 156px;
    }
}

